<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h2>Photobooth 2</h2> 
    <hr/>
    <form method="POST" action="capture">
        <input type="submit" value="take pic"/>

    </form>

    <br/>

     <!--Wrap with a conditional to only show image element if there is a photo to display -->
    
    <img src="{{  photo  }}" alt="" width="600px" height="auto">

    


</body>
</html>
